.settings_layout_container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px 1fr;
  gap: 20px;
  grid-template-areas:
    "sidebar subHeader"
    "sidebar mainContainer";
}