.cabinet_layout_container {
   height: calc(100vh - 64px);
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: 100px 1fr;
   gap: 20px;
   grid-template-areas: 
   'sidebar subHeader'
   'sidebar mainContainer'
   ;
}   


.sidebar {
   grid-area: sidebar;
}

.sub_header {
   grid-area: subHeader;
   background-color: rgb(244, 245, 247);
   border-bottom-left-radius: 8px;
   padding-left: 12px;
}

.main_container {
   grid-area: mainContainer;
}