.team_layout_container {
    height: calc(100vh - 64px);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 1fr;
    gap: 20px;
    grid-template-areas: 
    'sidebar subHeader'
    'sidebar mainContainer'
    ;
 }  
 .team_layout_container {
    display: flex;
}

.teams_content {
    padding: 24px;
    width: 100%;
}

.team_user_card {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
